* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.product {
    background-size: cover;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: .5;
}

.product-show {
    width: 140%;
    transition: 0.6s ease-in-out;
}

h1 {
    color: whitesmoke;
    font-size: 2.5rem;
}

button {
    background-color: transparent;
    color: whitesmoke;
    border: 2px solid whitesmoke;
    padding: 20px 60px;
}

button:hover {
    background-color: green;
    cursor: pointer;
}

.playstation {
    background-image: url('images/ps.jpg');
    background-color: rgba(46, 46, 122, .7);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
}

.xbox {
    background-image: url('images/xbox.jpg');
    background-color: rgba(46, 46, 122, .7);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center;
}

/* MEDIA QUERIES */

@media (max-width: 1075px) {
    h1 {
        font-size: 2rem;
    }
    
    button {
        padding: 15px 45px;
    }
}

@media (max-width: 935px) {
    h1 {
        color: whitesmoke;
        font-size: 1.5rem;
    }
    
    button {
        padding: 10px 30px;
    }
}
